:root {
  --app-primary-100: #22AD5C;
  --app-primary-200: #1A8245;
  --app-primary-300: #2CD673;
  --app-primary-400: #57DE8F;
  --app-primary-500: #82E6AC;
  --app-primary-600: #ACEFC8;
  --app-primary-700: #DAF8E6;
  
  --app-dark-100: #111928;
  --app-dark-200: #1F2A37;
  --app-dark-300: #374151;
  --app-dark-400: #4B5563;
  --app-dark-500: #6B7280;
  --app-dark-600: #9CA3AF;
  --app-dark-700: #D1D5DB;
  --app-dark-800: #E5E7EB;
}
